@import "../base/colors";

/* Mixins */

@mixin titles ($color, $font-w) {
    padding-top:5rem;
    padding-bottom: 5rem;
    text-align: center;
    color: $color;
    text-transform: uppercase;
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.5rem;
}

@mixin condicion ($colorIf) {
    color: $colorIf;
    @if $colorIf == $color-verde2 {
    background-color: $color-salmon;
    } @else if $colorIf == $color-naranja {
    background-color: white;
    }
}

