/* Footer */

.footer img {
    margin-left: 0rem;
    &:hover {
        filter: saturate(0.5);
    }
}

.footer h4 {
    margin-left: 0;
}

.footer {
    padding: 4rem;
    background-color: $color-salmon;
    @extend %flexbox;
}

.footer {
    a {
        text-decoration: none;
    }
}

/* Fin Footer */