/* Formulario */

.fondoColor {
    background-color: $color-salmon;
}

.logoSticky {
    background-color: white;
}

.formulario {
    margin: 10rem;
    background-color: $color-salmon;
}

/* Mobile */
@media only screen and (max-width: 400px) {
    .formulario {
        margin: 2rem;
    }
}

/* Tablet */

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .formulario {
        margin: 5rem;
    }
}

/* Fin Formulario */