/* Navbar */

navbar-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 85%;

    &:visited {
        color: white;
    }
}

navbar-nav ul {
    list-style: none;
 }

navbar-nav li {
    display: inline-block;
    position: relative;
    font-size: 1rem;
 }
 
navbar-nav ul ul {
    position: absolute;
    display: none;
 }

navbar-nav ul ul li {
    display: block;
    
    &:hover {
        display: block;
    }
 }

navbar-nav {
    background-color: $color-gris2;
    position: absolute;
    z-index: 1;
}


/* Fin Navbar */