/* Navbar */

a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 85%;

    &:visited {
        color: white;
    }
}

.menu ul {
    list-style: none;
 }

.menu li {
    display: inline-block;
    position: relative;
    font-size: 1rem;
 }
 
.menu ul ul {
    position: absolute;
    display: none;
 }

.menu ul ul li {
    display: block;
    
    &:hover {
        display: block;
    }
 }

.submenu1, .submenu2 {
    text-decoration: underline;
    background-color: $color-gris;
}

.submenu1 a, .submenu2 a {
    font-size: 95%;
}

.menu {
    background-color: $color-gris2;
    position: absolute;
    z-index: 1;
}

/* Fin Navbar */