/* Sección Zero Waste */

.sectionZero img {
    margin-left: 5rem;
}

.sectionZero p {
    margin-top: 2rem;
    margin-bottom: 2rem;    
}

.sectionZero em {
    @extend %flexbox;
}

.sectionZero {
    margin-bottom: 5rem;
}

/* Mobile */
@media only screen and (max-width: 400px) {
    .sectionZero img {
        width: 250px;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .sectionZero {
        text-align: center;
    }
    .sectionZero em {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .sectionZero h2 {
        padding-top: 0;
    }
}

/* Tablet */

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .sectionZero img {
        width: 450px;
        height: auto;    
        padding: 0;
        margin: 0;
    }
    .sectionZero {
        text-align: center;
    }
}

/* Desktop */

@media only screen and (min-width: 961px) {
    .sectionZero img {  
        padding-left: 0;
        margin-left: 0;
    }
    .sectionZero {
        text-align: center;
    }
}


/* Fin Sección Zero Waste */