/* Sección Tienda */

.sectionTienda {

    p {
        text-align: center;
    }
    
    h2 {
        margin: 0;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.btn-primary {
    background-color: $color-salmon2;
    border-color: $color-salmon2;

    &:hover {
        background-color: $color-verde;
        border-color: $color-verde;
    }

}
