/* Sección Recetas */

.imagenesRecetas {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 6rem;
    @extend %flexbox;
}

.imagenesRecetas img {
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.1);
        transition: all 0.5s; 
    }
}

.imagenesRecetas a img {
    &:hover {
        transform: none;
    }
}

.tituloRecetas {
    margin-top: 3rem;
}

/* Mobile */
@media only screen and (max-width: 414px) {
    .imagenesRecetas img {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .imagenesRecetas {
        padding-bottom: 0;
    }
}

/* Tablet */

@media only screen and (min-width: 415px) and (max-width: 960px) {
    .imagenesRecetas img {
        margin-left: 0;
        margin-right: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
    .imagenesRecetas {
        padding-bottom: 0;
    }
}

/* Fin Sección Recetas */