$color-gris: rgb(77, 77, 77);
$color-gris2: rgb(28, 28, 28);
$color-negro: rgb(4, 4, 4);
$color-verde: #536c6a;
$color-verde2: #4D6160;
$color-salmon: #FEDED3;
$color-salmon1: #D6A692;
$color-salmon2: #BF8069;
$color-naranja: rgb(191, 146, 0);

